.logosSectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.stackLogo {
  margin: 1rem;
  width: auto;
  height: auto;
  max-width: 3rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 40rem) {
  .logosSectionContainer {
    width: 60%;
  }

  .stackLogo {
    max-width: 5rem;
    margin: 2rem 4rem;
  }
}
